{% extends "base.html" %}

{% block title %}Admin Console{% endblock %}
{% block body %}
<div class="fbbd">
	<div class="center picktitle">
		<p>Neta's Admin Console!</p>
	</div>
	<div class="center">
		<table>
		{% for obj in objects.items %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="">{{ obj.name }}</a></td>
				<td><a href="">{{ obj.points }}</a></td>
				<td><a href="">{{ obj.enabled }}</a></td>
			</tr>
		{% endfor %}
		</table>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}
