<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}Welcome{% endblock %} &mdash; Pick Your Neta's
    </title>
    <meta name="description" content="{% block description %}Pick Your Neta's{% endblock %}">
    <link type="text/css" rel="stylesheet" href="/main.css">
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/main.js"></script>
  </head>
  <body>
    <div id="doc">
      <div class="hd">
        <div class="like-button">
          <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fapps.facebook.com%2Fgiftsshare%2F&amp;layout=standard&amp;show_faces=true&amp;width=300&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:30px;" allowTransparency="true"></iframe>
        </div>
        <div id="user-info">
            <ul>
                <li><a href="/">pick neta's</a></li>
                <li><a href="/hallofshame">hall of shame</a></li>
                <li><a href="/netaleaderboard">neta popularity</a></li>
            </ul>
        </div>
      </div>

      {% if message %}
        <div class="message {{ message.type }}">{{ message.content }}</div>
      {% endif %}

      <div class="bd">
        {% block body %}{% endblock %}
      </div><!-- .bd -->

      <div class="ft">
      </div>
    </div>

    <div id="fb-root"></div>
    
    <script type="text/javascript">
        var username = {{ js_conf|safe }};
        username = username["userName"];
        
        {# async loading of facebook js sdk #}
        $(document).ready(function() {
        facebookInit({{ js_conf|safe }});
        
        function facebookInit(config) {
                Config = config;

                FB.init({
                    appId: Config.appId,
                    status : true,
                    cookie : true,
                    xfbml : true,
                    channelUrl: window.location.protocol + '//' + window.location.host + '/channel.html'
                });
              
                FB.Event.subscribe('auth.sessionChange', function (response) {
                    if ((Config.userIdOnServer && !response.session) || 
                        Config.userIdOnServer != response.session.uid) {
                        goHome();
                    }
                });
                //FB.Event.subscribe('auth.login', function(response) {});
                FB.Canvas.setAutoResize();
                FB.getLoginStatus(function(response) {
                    if (response.session && $("#jfmfs-container").size() != 0) {
                      FB.api('/me', function(response) {
                          $("#jfmfs-container").jfmfs({ max_selected: 3, max_selected_message: ""});
                          $("#jfmfs-container").bind("jfmfs.friendload.finished", function() { });
                          $("#jfmfs-container").bind("jfmfs.selection.changed", function(e, data) { });
                          $("#logged-out-status").hide();
                          $("#show-friends").show();
                      });
                    }
                });

                // ensure we're always running on apps.facebook.com
                if (window == top) { goHome(); }
            }

            function goHome() {
              //top.location = 'http://apps.facebook.com/' + Config.canvasName + '/';
            }
        });
        
        {# async loading of google analytics #}
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21093333-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </body>
</html>
