{% extends "base.html" %}

{% block title %}Take a Pick{% endblock %}
{% block body %}
<div id="runs">
    <div class="center picktitle">
        <p>Pick Your Neta's</p>
    </div>
    <form class="picks" action="/pick" method="post">
      <div style="display: none">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
      </div>
      <div class="center">
      <ul class="choices">
        <li class="first">
          <div class="choicert">
            <img class="usrimg" src="/girl.gif">
			<p class="netaname"><input type="radio" name="netaname" value="sibal" />sibal</p>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="choicert">
            <img class="usrimg" src="/boy.gif">
			<p class="netaname"><input type="radio" name="netaname" value="manmohan" checked />man mohan</p>
          </div>
          <div class="clear"></div>
        </li>
        <li class="last">
          <div class="choicert">
            <img class="usrimg" src="/boy.gif">
			<p class="netaname"><input type="radio" name="netaname" value="rahul" />rahul</p>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
      </div>
      
      <div class="message">
         <p class="error oops">oops! you've already selected 3 friends. Now just click the pick button.</p>
         <p class="error doops">Pick atleast 1 friendly neta to proceed. It can't be that hard.</p>
         <p class="error intro">Click on the friend below to pick.</p>
     </div>
      
      <div id="jfmfs-container"></div>
      
      <div class="center secretmsg">
          <input class="awesome green" type="submit" value="Pick!">
          <input id="friendlst" name="friend" class="hidden" type="hidden" value="">
          <input id="friendidlst" name="friend_id" class="hidden" type="hidden" value="">
      </div>
    </form>
</div>
{% endblock %}
